.footer {
    background: #000104;
    width: 100%;
    min-height: 550px;
    display: flex;
    justify-content: center;
    align-items: center;

    .center_footer {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 1800px;

        .top_footer {
            display: flex;
            justify-content: space-between;
            padding-bottom: 20px;
            padding-right: 30px;

            .con_footer {
                max-width: 270px;

                ul {
                    padding-right: 10px;
                    list-style-type: none;

                    li {
                        font: 14px "Lato";
                        padding: 10px 0;
                        cursor: pointer;

                        p{
                            margin: 0;
                            color: #aaa;
                            font-size: 18px;
                            font-weight: bold;

                        }

                        a {
                            color: #757575;
                            text-decoration: none;
                        }

                        a:hover {
                            color: #fff;
                        }
                    }
                }

                .line {
                    display: none;
                }
            }
        }

        .bottom_footer {
            margin: 0 40px;
            border-top: 2px solid #757575;
            padding: 50px 10px 0 0;
            display: flex;
            justify-content: space-between;

            p {
                color: #757575;
                font: 13px "Lato";

                span {
                    color: #fff;
                }
            }

            ul {
                list-style-type: none;
                display: flex;
                align-items: center;
                margin: 0;
                padding: 0;
                order: -1;

                li {
                    padding-right: 20px;

                    .con_logo {
                        width: 24px;
                        height: 24px;
                        background-size: cover;
                        transition: all 1s;
                    }

                    .facebook {
                        background-image: url(../../img/facebook.png);
                    }

                    .facebook:hover {
                        background-image: url(../../img/facebookcolor.png);
                    }

                    .instagram {
                        background-image: url(../../img/instagram.png);
                    }

                    .instagram:hover {
                        background-image: url(../../img/instagramcolor.png);
                    }

                    .twitter {
                        background-image: url(../../img/twitter.png);
                    }

                    .twitter:hover {
                        background-image: url(../../img/twittercolor.png);
                    }

                    .youtube {
                        background-image: url(../../img/youtube.png);
                    }

                    .youtube:hover {
                        background-image: url(../../img/youtubecolor.png);
                    }

                }
            }
        }
    }
}



@media only screen and (min-width: 1800px) {

    .footer {
        .center_footer {
            .top_footer {
                .con_footer {
                    ul {
                        li {
                            font-size: 20px;
                        }
                    }

                }
            }
        }
    }
    }


@media only screen and (max-width: 769px) {

    .footer {
        .center_footer {


            .top_footer {
                flex-direction: column;

                .con_footer {
                    max-width: 1400px;

                    .line {
                        display: block;
                        border: 1px solid #757575;
                        margin: 0 40px;
                    }
                }
            }

            .bottom_footer {
                border: none;
                padding: 0;
                flex-direction: column;
            }
        }
    }

}

@media only screen and (max-width: 552px) {

    .footer {

        .center_footer {
            .top_footer {
                .con_footer {
                    ul {
                        li {
                            padding: 5px 0;
                            font-size: 13px;
                            p{
                                font-size: 16px;
                            }
                        }
                    }
                }
            }


            .bottom_footer {
                p {
                    font-size: 12px;
                }
            }
        }

    }
}
