.con_redefined::before,
.con_redefined::after {
    width: 50px;
    content: "";
    border: 1px solid grey;
}

.con_redefined {
    min-height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;

    div {

        .redefined_text {
            margin: 0 15px;
            text-align: center;
            font: 26px "Lato";
            letter-spacing: 10px;
        }

    }
}

.con_q12_foto {
    display: flex;

    .con_center {
        display: flex;
        margin: auto;



        .con_foto {
            position: relative;

            img {
                width: 390px;
                height: 494px;
                background-size: cover;
            }

            .approved_animation {
                position: absolute;
                bottom: -10%;
                left: 5%;
                transform: translate(-140px, 140px);
                opacity: 0;
                transition: all 0.5s;

                img {
                    opacity: 0.8;
                    width: 210px;
                    height: 100%;
                    transform: rotate(-30deg);
                }


            }

            .active_animation {

                transform: translate(0px, 0px);
                opacity: 1;
                transition: all 1s;

            }

        }

        .con_q12 {
            padding-left: 60px;
            max-width: 430px;
            height: 494px;

            .top_q12 {

                p {
                    margin: 0;
                    font: 86px "Lato";

                    span {
                        font: 35px "Lato";
                        position: relative;
                        top: -55px;
                    }
                }
            }

            .text_q12 {

                p {
                    margin: 0;
                    padding-top: 10px;
                    font: 20px "Lato";
                    line-height: 3;

                }
            }
        }
    }

}






@media only screen and (min-width: 1800px) {

    .con_redefined {
        margin-top: 30px;
        min-height: 290px;
        div {
            .redefined_text {
                font: 40px "Lato";
            }
        }
    }

    .con_q12_foto {
        .con_center {
            .con_foto {
                img {
                    width: 500px;
                    height: auto;
                }
            }
            .con_q12 {
                height: auto;
                max-width: 550px;

                .top_q12 {
                    p {
                        font: 95px "Lato";
                    }
                }
                .text_q12 {
                    p {
                        text-align: justify;
                        line-height: 2.5;
                        font-size: 30px;
                        font-family: Lato;
                    }
                }
            }
        }
    }



}

@media only screen and (max-width: 769px) {

    .con_q12_foto {
        justify-content: center;

        .con_center {
            margin: 0;
            flex-direction: column;

            .con_foto {

                display: flex;
                justify-content: center;

                img {
                    width: 90%;
                    height: auto;
                }
            }

            .con_q12 {
                padding-top: 50px;
                padding-left: 0;
                height: auto;

                .top_q12 {
                    display: none;
                }

                .text_q12 {

                    p {
                        padding: 25px 20px;
                        font-size: 16px;
                        text-align: justify;
                        line-height: 2;

                    }
                }
            }

        }
    }





}

@media only screen and (max-width: 552px) {

    .con_redefined::before,
    .con_redefined::after {
        width: 30px;
    }

    .con_redefined {
        min-height: 150px;
    }

    .con_redefined div .redefined_text {
        font-size: 20px;
        letter-spacing: 7px;
    }

    .con_q12_foto .con_center .con_foto .approved_animation img {
        width: 165px;
    }
}
